@model GraduationProject.Models.OfficialHolidays

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <h1 class="p-4 my-2">
            <img class="mx-3" src="https://img.icons8.com/pastel-glyph/64/000000/sunbathe.png"/>Edit Official Holidays</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-lg-12">
        <form asp-controller="OfficialHolidays" asp-action="SaveEdit" asp-route-id="@Model.ID">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="col-md-3 control-label"></label>
                <div class="col-md-9 mx-3">
                <input asp-for="Name" class="form-control" />
                </div>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="col-md-3 control-label"></label>
                <div class="col-md-9 mx-3">
                <input asp-for="Date" class="form-control" />
                </div>
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="d-flex justify-content-center">
                <span class="form-group mx-2">
                <input type="submit" value="Save" class="btn btn-primary" />
            </span>
            <span class="form-group">
                <a asp-controller="OfficialHolidays" asp-action="Index" class="btn btn-danger">Cancel</a>
            </span>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
